<!-- Welcome section start -->

<div class="clear">
</div>
<div id="about_menu">
  <!-- Page Content -->
  <div class="firstrow">
    <div class="welcome_image left" style="background-image: url('images/left.svg')">
    </div>
    <div class="first_description">
      <div class="title_center ">
        <div class="center_line wow fadeInLeft">
        </div>
        <p class=" wow fadeIn">
           ¿Cómo Nació In Water Grows?
        </p>
      </div>
      <div class="center_line wow fadeInRight ">
      </div>
      <p class="about_text">
         Nacimos gracias a la creciente tendencia y demanda que existe en el país de alimentos mucho más sanos, libres de químicos, producidos con agua potable, con procesos de cosecha y empaque con estándares de inocuidad equivalentes a los de una cocina de alto nivel. Esto se logra mediante la utilización de las mejores y más eficientes prácticas agrícolas, tal como se llevan a cabo en países desarrollados. Es por todas estas razones que hemos sido seleccionados por las mejores cadenas de supermercados y de restaurantes para suplir su demanda de vegetales. Porque sabemos lo importante que es comer bien vamos a seguir innovando y aumentando nuestra cartera de productos.
      </p>
      <div id="about" class="about carousel slide">
        <!-- Indicators -->
        <div class="carousel-indicators">
          <div data-target="#about" data-slide-to="0" class="photo_carousel_ind active">
          </div>
          <div data-target="#about" data-slide-to="1" class="photo_carousel_ind">
          </div>
          <div data-target="#about" data-slide-to="2" class="photo_carousel_ind">
          </div>
        </div>
        <!-- Wrapper for Slides -->
        <div class="carousel-inner about_carousel carousel-touch">
          <div class="item active">
            <div class="about_dscrp">
              <ul class="stats">
                <li class="icon_tur icon-tourism-icons_scooter">
                <p class="count_dscrp">
                   active
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_fast-food">
                <p class="count_dscrp">
                   tasty
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_sun">
                <p class="count_dscrp">
                   relax
                </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="about_dscrp">
              <ul class="stats">
                <li class="icon_tur icon-tourism-icons_baloon">
                <p class="count_dscrp">
                   attractions
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_sailing">
                <p class="count_dscrp">
                   sailing
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_butterfly">
                <p class="count_dscrp">
                   beatiful
                </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="about_dscrp">
              <ul class="stats">
                <li class="icon_tur icon-tourism-icons_bycicle">
                <p class="count_dscrp">
                   sports
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_conductor">
                <p class="count_dscrp">
                   faunny
                </p>
                </li>
                <li class="icon_tur icon-tourism-icons_plant">
                <p class="count_dscrp">
                   healthy
                </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome_image right" style="background-image: url('images/right.svg')">
    </div>
  </div>
</div>
<!-- Welcome section end -->