<!-- Welcome section start -->

<div class="clear">
</div>
<div id="about_menu">
  <!-- Page Content -->
  <div class="firstrow">
    <div class="welcome_image left" style="background-image: url('images/left.svg')">
    </div>
    <div class="first_description">
      <div class="title_center ">
        <div class="center_line wow fadeInLeft">
        </div>
        <p class=" wow fadeIn">
           ¿Cómo Nació In Water Grows?
        </p>
      </div>
      <div class="center_line wow fadeInRight ">
      </div>
      <p class="about_text">
         Nacimos gracias a la creciente tendencia y demanda que existe en el país de alimentos mucho más sanos, libres de químicos, producidos con agua potable, con procesos de cosecha y empaque con estándares de inocuidad equivalentes a los de una cocina de alto nivel. Esto se logra mediante la utilización de las mejores y más eficientes prácticas agrícolas, tal como se llevan a cabo en países desarrollados. Es por todas estas razones que hemos sido seleccionados por las mejores cadenas de supermercados y de restaurantes para suplir su demanda de vegetales. Porque sabemos lo importante que es comer bien vamos a seguir innovando y aumentando nuestra cartera de productos.
      </p>
    </div>
    <div class="welcome_image right" style="background-image: url('images/right.svg')">
    </div>
  </div>
</div>
<!-- Welcome section end -->