<!-- Navigation start -->

<div class="menu-wrap nano">
  <nav class="menu nano-content">
  <div class="icon-list">
    <a href="multi_index_left_bar.html" class="logo"><img src="/images/logo.png" alt="logo"/></a>
    <a class="navicon" href="multi_about_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_anchor"></i>
    <span>About Parkhotel</span>
    </button></a>
    <a class="navicon" href="multi_accommodation_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_hotel-building"></i>
    <span>Accommondation</span>
    </button></a>
    <a class="navicon" href="multi_gallery_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_hand-lamp"></i>
    <span>Gallery</span>
    </button></a>
    <a class="navicon" href="multi_news_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_anchor"></i>
    <span>News</span>
    </button></a>
    <a class="navicon" href="multi_testimonials_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_compass"></i>
    <span>Testimonials</span>
    </button></a>
    <a class="navicon" href="multi_contact_left_bar.html"><button class="button--itzel dark">
    <i class="button__icon icon-tourism-icons_id-card"></i>
    <span>Contact</span>
    </button></a>
    <p class="conctact">
       Fell free to call right now <br>
      <span class="phone">+1 111 222 111</span><br>
      <span class="phone">+1 111 222 111</span>
    </p>
    <p class="socials">
      <a href="#" class="fa fa-facebook fa-lg"></a>
      <a href="#" class="fa fa-skype fa-lg"></a>
      <a href="#" class="fa fa-google fa-lg"></a>
    </p>
    <div class="gap">
    </div>
  </div>
  </nav>
  <button class="close-button" id="close-button">Close Menu</button>
</div>
<button class="menu-button" id="open-button">Open Menu</button>

<!-- Navigation end -->