<!-- Navigation start -->
<div class="menu-wrap nano">
  <nav class="menu nano-content">
  <div class="icon-list">
    <a href="/" class="logo"><img src="/images/logo.png" alt="logo"/></a>

    {% for p in site.pages %}
      {% if p.layout == 'default' %}
      <a class="navicon" href="{{ p.url }}">
        <button class="button--itzel dark">
          <i class="button__icon icon-tourism-icons_anchor"></i>
          <span>{{ p.title }}</span>
        </button>
      </a>
      {% endif %}
    {% endfor %}

    <p class="conctact">
       Llamanos <br>
      <span class="phone"><a href="tel:{{ site.telefono }}">{{ site.telefono }}</a></span><br>
    </p>
    <p class="socials">
      {% for red in site.social %}
        <a href="{{ red.url }}" class="fa fa-{{ red.title }} fa-lg"></a>
      {% endfor %}
    </p>
    <div class="gap">
    </div>
  </div>
  </nav>
  <button class="close-button" id="close-button">Close Menu</button>
</div>
<button class="menu-button" id="open-button">Open Menu</button>

<!-- Navigation end -->