<!-- Slider start -->

<header id="home_slider" class="home_slider_top carousel slide">
<div class="carousel-inner carousel-touch">
  <div class="item active">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('/images/gallery/029web.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description">
        <h2 class="details wow fadeInUp">
          <a href="/" class="logo"><img src="/images/logo.png" alt="logo"/></a>
        </h2>
      </div>
    </div>
  </div>
  <div class="item">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('/images/gallery/087web.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description">
        <h2 class="details wow fadeInUp">
          <a href="/" class="logo"><img src="/images/logo.png" alt="logo"/></a>
        </h2>
      </div>
    </div>
  </div>
  <div class="item">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('/images/gallery/034web.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description">
        <h2 class="details wow fadeInUp">
          <a href="/" class="logo"><img src="/images/logo.png" alt="logo"/></a>
        </h2>
      </div>
    </div>
  </div>
</div>
<a class="left_arrow" href="#home_slider" data-slide="prev">
<svg width="26px" height="48">
<polygon points="3.3,24.5 25.5,2.3 24,0.8 0.3,24.5 24,48.2 25.5,46.7"/>
</svg>
</a>
<a class="right_arrow" href="#home_slider" data-slide="next">
<svg width="26px" height="48">
<polygon points="22.5,24.5 0.3,2.3 1.8,0.8 25.5,24.5 1.8,48.2 0.3,46.7"/>
</svg>
</a>
</header>

<!-- Slider end -->
