<!-- Slider start -->
<header id="home_slider" class="home_slider_top carousel slide">
<div class="carousel-inner carousel-touch">
  {% for slide in site.data.slides %}
    <div class="item{% if forloop.index == 1 %} active{% endif %}">
      <div class="fill" style="background-image:url('/images/slides/{{ slide.imagen }}');"></div>
      <div class="fill_mask">
        <div class="description">
          <img class="deco wow fadeInDown" src="/images/logo-vaciado.png" alt="In Water Grows"/>
          <br/>
          <h2 class="details wow fadeInUp">{{ slide.title }}</h2>
          <div class="buttons wow fadeInDown">
            <a href="{{ slide.btn-link }}">
            <button class="button--itzel">
            <i class="button__icon fa fa-arrow-right"></i>
            <span>{{ slide.btn-text }}</span>
            </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<a class="left_arrow" href="#home_slider" data-slide="prev">
<svg width="26px" height="48">
<polygon points="3.3,24.5 25.5,2.3 24,0.8 0.3,24.5 24,48.2 25.5,46.7"/>
</svg>
</a>
<a class="right_arrow" href="#home_slider" data-slide="next">
<svg width="26px" height="48">
<polygon points="22.5,24.5 0.3,2.3 1.8,0.8 25.5,24.5 1.8,48.2 0.3,46.7"/>
</svg>
</a>
</header>

<!-- Slider end -->
