<!-- Slider start -->

<header id="home_slider" class="home_slider_top carousel slide">
<div class="carousel-inner carousel-touch">
  <div class="item active">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('/images/slider_1.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description">
        <h2 class="details wow fadeInUp">
        Parkhotel</h2>
        <img class="deco wow fadeInDown" src="/images/deco-1.svg" alt="img10"/>
        <div class="details wow fadeInLeft">
          <i class="icon-tourism-icons_double-bed"></i>
          <p>
             Hotel
          </p>
        </div>
        <div class="details wow fadeInDown">
          <i class="icon-tourism-icons_castle-3"></i>
          <p>
             Apartaments
          </p>
        </div>
        <div class="details wow fadeInRight">
          <i class="icon-tourism-icons_tent"></i>
          <p>
             Camping
          </p>
        </div>
        <div class="buttons wow fadeInDown">
          <a href="multi_index_left_bar.html">
          <button class="button--itzel">
          <i class="button__icon icon-tourism-icons_anchor"></i>
          <span>Know more</span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <!-- Set the first background image using inline CSS below. -->
    <div class="fill" style="background-image:url('/images/slider_2.jpg');">
    </div>
    <div class="fill_mask">
      <div class="description">
        <h2 class="details wow fadeInUp">
        it's time to</h2>
        <div class="details wow fadeInLeft">
          <i class="icon-tourism-icons_sun"></i>
          <p>
             Sun
          </p>
        </div>
        <div class="details wow fadeInDown">
          <i class="icon-tourism-icons_scooter"></i>
          <p>
             Travel
          </p>
        </div>
        <div class="details wow fadeInRight">
          <i class="icon-tourism-icons_sailing"></i>
          <p>
             Relax
          </p>
        </div>
        <div class="buttons wow fadeInDown">
          <a href="multi_gallery_left_bar.html">
          <button class="button--itzel">
          <i class="button__icon icon-tourism-icons_trailer"></i>
          <span>Reserve now</span>
          </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<a class="left_arrow" href="#home_slider" data-slide="prev">
<svg width="26px" height="48">
<polygon points="3.3,24.5 25.5,2.3 24,0.8 0.3,24.5 24,48.2 25.5,46.7"/>
</svg>
</a>
<a class="right_arrow" href="#home_slider" data-slide="next">
<svg width="26px" height="48">
<polygon points="22.5,24.5 0.3,2.3 1.8,0.8 25.5,24.5 1.8,48.2 0.3,46.7"/>
</svg>
</a>
</header>

<!-- Slider end -->