@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('../fonts/avant_garde_book_bt-webfont.eot');
    src: url('../fonts/avant_garde_book_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avant_garde_book_bt-webfont.woff2') format('woff2'),
         url('../fonts/avant_garde_book_bt-webfont.woff') format('woff'),
         url('../fonts/avant_garde_book_bt-webfont.ttf') format('truetype'),
         url('../fonts/avant_garde_book_bt-webfont.svg#avantgarde_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avantgarde_bk_btbook_oblique';
    src: url('../fonts/avant_garde_book_oblique_bt-webfont.eot');
    src: url('../fonts/avant_garde_book_oblique_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avant_garde_book_oblique_bt-webfont.woff2') format('woff2'),
         url('../fonts/avant_garde_book_oblique_bt-webfont.woff') format('woff'),
         url('../fonts/avant_garde_book_oblique_bt-webfont.ttf') format('truetype'),
         url('../fonts/avant_garde_book_oblique_bt-webfont.svg#avantgarde_bk_btbook_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avantgarde_bk_btdemi';
    src: url('../fonts/avant_garde_demi_bt-webfont.eot');
    src: url('../fonts/avant_garde_demi_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avant_garde_demi_bt-webfont.woff2') format('woff2'),
         url('../fonts/avant_garde_demi_bt-webfont.woff') format('woff'),
         url('../fonts/avant_garde_demi_bt-webfont.ttf') format('truetype'),
         url('../fonts/avant_garde_demi_bt-webfont.svg#avantgarde_bk_btdemi') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avantgarde_bk_btdemi_oblique';
    src: url('../fonts/avant_garde_demi_oblique_bt-webfont.eot');
    src: url('../fonts/avant_garde_demi_oblique_bt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avant_garde_demi_oblique_bt-webfont.woff2') format('woff2'),
         url('../fonts/avant_garde_demi_oblique_bt-webfont.woff') format('woff'),
         url('../fonts/avant_garde_demi_oblique_bt-webfont.ttf') format('truetype'),
         url('../fonts/avant_garde_demi_oblique_bt-webfont.svg#avantgarde_bk_btdemi_oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}
